body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.TaskMenu-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15vh;
    
}

    .AddEvent{
        margin-bottom: 50px
    }

        .AddEventButton{
            padding: 10px 20px;
            border: none;
            border-radius: 8px;
            background-color: hsl(181, 100%, 50%);
            min-width: 150px;
            min-height: 50px;
            font-size: 15px;
            font-weight: bold;
            cursor: pointer;
            transition: background-color 0.5s ease;
        }

            .AddEventButton:hover {
                background-color: hsl(181, 100%, 45%);
            }

