.Task-container {
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  width: 140%;
  height: 100%;
  box-sizing: border-box;
  margin-bottom: 30px;
  background-color: hsl(0, 2%, 65%);
  border-radius: 20px;
  transition: all linear 0.5s;

}

.Task-container:hover {
    transform: scale(105%);
}

.TaskInformation {
    min-width: 300px;
    max-width: 300px;
    display: flex;
    flex-direction: column;

}

.TaskTitle,
.TaskStartTime,
.TaskEndTime,
.TaskCompletionStatus {
  padding: 5px;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}

.TaskDescription {
    padding: 5px;
    word-wrap: break-word;
    width: 90%;
    white-space: break-spaces;
    overflow: auto;
    
}

.TaskButtons {
  width: 100%;
  border-left: dashed 2px black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.CompleteTaskButton {
  border: none;
  padding: 20px;
  border-radius: 500px;
  margin: 8%;
  background-color: hsl(128, 95%, 53%);
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  transition: background-color 0.5s ease;
  box-shadow:
    0 6px 8px 0 rgba(0, 0, 0, 0.24),
    0 8px 25px 0 rgba(0, 0, 0, 0.19);
}
.CompleteTaskButton:hover {
  background-color: hsl(128, 95%, 43%);
}

.RemoveTaskButton {
  padding: 20px;
  border-radius: 200px;
  border: none;
  margin: 8%;
  background-color: hsl(0, 100%, 58%);
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  transition: background-color 0.5s ease;
  box-shadow:
    0 6px 8px 0 rgba(0, 0, 0, 0.24),
    0 8px 25px 0 rgba(0, 0, 0, 0.19);
}
.RemoveTaskButton:hover {
  background-color: hsl(0, 100%, 46%);
}